@model eBookStore.Models.Book.BookRequestViewModel 

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Book" asp-controller="Manage">Book List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add Book</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post" id="form-add">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Title</label>
                        <div class="col-sm-12 col-md-10">
                            <input id="title" name="title" class="form-control" type="text" placeholder="Title" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Type</label>
                        <div class="col-sm-12 col-md-10">
                            <input id="type" name="type" class="form-control" type="number" placeholder="Type (Number)" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Price</label>
                        <div class="col-sm-12 col-md-10">
                            <input id="price" name="price" class="form-control" type="number" placeholder="Price" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Advance</label>
                        <div class="col-sm-12 col-md-10">
                            <input id="advance" name="advance" class="form-control" type="number" placeholder="Advance">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Royalty</label>
                        <div class="col-sm-12 col-md-10">
                            <input id="royalty" name="royalty" class="form-control" type="number" placeholder="Royalty">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Year Sales</label>
                        <div class="col-sm-12 col-md-10">
                            <input id="ytd_sales" name="ytd_sales" class="form-control" type="number" placeholder="Year Sales">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Note</label>
                        <div class="col-sm-12 col-md-10">
                            <input id="notes" name="notes" class="form-control" type="text" placeholder="Note">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Publisher</label>
                        <select id="pub_id" name="pub_id" class="custom-select2 form-control" style="width: 100%; height: 38px;">

                        </select>
                    </div>
                     <input id="published_date" name="published_date" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" hidden>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-action="Book" asp-controller="Manage" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            $('#form-add').submit(function(event) {
              event.preventDefault(); // Prevent the default form submission

              // Get the form data
              const formData = ConvertToJson($(this));

              // Call the API to add the data
              const apiUrl = 'https://localhost:44322/odata';
              $.ajax({
                url: apiUrl +"/Book",
                type: 'POST',
                cache: false,
                processData: false,
                contentType: 'application/json',
                dataType: 'json',
                data: formData,
                success: function(data) {
                  // Handle the API response here
                  console.log('API response:', data);
                  window.location.href = '/Manage/Book';
                  // Optionally, perform any actions on successful response
                },
                error: function(xhr, status, error) {
                  // Handle the error here
                  console.error('Error:', error);
                }
              });
            });
        });
    </script>
    <script>
        $(document).ready(function () {

              // AJAX call to fetch data from the API endpoint
              $.ajax({
                url: "https://localhost:44322/odata/Publisher",
                type: "GET",
                dataType: "json",
                success: function (data) {
                  $.each(data.value, function (index, res) {
                   content = `<option value="${res.pub_id}">${res.publisher_name}</option>`;
                  $("select").append(content);
                }); // Populate the select element with the received data
                },
                error: function (error) {
                  console.error("Error fetching data: " + error);
                },
              });
        });
    </script>
}