@model eBookStore.Models.Author.AuthorRequestViewModel 

@{
    var isEdited = ViewData["IsEdit"] as bool?;
    var authorId = ViewData["AuthorId"] as string;
}

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Author" asp-controller="Manage">Author List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@(isEdited == true ? "Edit Author" : "Detail Author")</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            @if (isEdited == true)
            {
                <div class="pd-20 card-box mb-30">
                <form method="post" id="form-update">
                            <input class="form-control" id="author_id" name="author_id" value="@authorId" type="hidden">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">First Name</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="first_name" name="first_name" type="text" placeholder="First name" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Last Name</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="last_name" name="last_name" type="text" placeholder="Last name" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Email</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="email_address" name="email_address" type="email" placeholder="email" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Phone</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="phone" name="phone" type="text" placeholder="phone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Address</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="address" name="address" type="text" placeholder="address">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">City</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="city" name="city" type="text" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">State</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="state" name="state" type="text" placeholder="State">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">ZipCode</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="zip" name="zip" type="text" placeholder="ZipCode">
                        </div>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-action="Author" asp-controller="Manage" type="submit" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
                </div>
            }
            else
            {
                <div class="pd-20 card-box mb-30">
                <form method="post" asp-action="UpdateAuthor" asp-controller="Manage">
                                   <input class="form-control" id="author_id" value="@authorId" type="hidden">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">First Name</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="first_name" type="text" placeholder="First name" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Last Name</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="last_name" type="text" placeholder="Last name" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Email</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="email_address" type="email" placeholder="email" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Phone</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="phone" type="text" placeholder="phone" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Address</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="address" type="text" placeholder="address" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">City</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="city" type="text" placeholder="City" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">State</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="state" type="text" placeholder="State" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">ZipCode</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" id="zip" type="text" placeholder="ZipCode" readonly>
                        </div>
                    </div>
                    <div class="btn-list">
                        <a asp-action="Author" asp-controller="Manage" type="submit" class="btn btn-primary">Back</a>
                    </div>
                </form>
            </div>
            }
            
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            const apiUrl = 'https://localhost:44322/odata';

            $.ajax({
              url: apiUrl + "/Author/"+@authorId,
              type: 'GET',
              dataType: 'json',
              success: function(data) {
               for (const [key, value] of Object.entries(data)) {
                    console.log(`${key}: ${value}`);
                    $(`[id="${key}"]`).val(value);
                }
              },
              error: function(xhr, status, error) {
                console.error('Error:', error);
              }
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#form-update').submit(function(event) {
              event.preventDefault(); // Prevent the default form submission

              // Get the form data
              //const formData = JSON.stringify($(this).serializeArray());
              const formData = ConvertToJson($(this));

              // Call the API to add the data
              const apiUrl = 'https://localhost:44322/odata';
              $.ajax({
                url: apiUrl +"/Author/"+@authorId,
                type: 'PUT',
                cache: false,
                processData: false,
                contentType: 'application/json',
                dataType: 'json',
                data: formData,
                success: function(data) {
                  // Handle the API response here
                  console.log('API response:', data);
                  window.location.href = '/Manage/Author';
                  // Optionally, perform any actions on successful response
                },
                error: function(xhr, status, error) {
                  // Handle the error here
                  console.error('Error:', error);
                }
              });
            });
        });
    </script>
}